cms/*
!cms/wp-content/

cms/wp-content/*
!cms/wp-content/themes/
!cms/wp-content/plugins/

cms/wp-content/themes/*
!cms/wp-content/themes/tmural/
cms/wp-content/themes/tmural/**/build

cms/wp-content/plugins/*
!cms/wp-content/plugins/tmural/

cms/wp-content/plugins/tmural/**/build

mysql/
/vendor/
node_modules/
composer.phar
.env
composer-init.sh
